<main>
  <section class="form-section px-md-5 px-4">
    <div class="form-main">
      <div class="logo">
        <img src="./assets/images/logo.jpg" alt="logo">
      </div>
      <div class="form-container p-4">
        <ng-content></ng-content>
      </div>
    </div>
    <footer>
      <p>Dúvidas? Fale com a gente no <a href="https://api.whatsapp.com/send?phone=557930118080" target="_blank"
          style="white-space: nowrap;">WhatsApp: (79)
          3011-8080</a> - <a href="https://certificadodigitalcec.com.br/politica-de-privacidade-assinador"
          target="_blank">Política
          de Privacidade</a> </p>
      <a class="ball-to-icon" href="https://api.whatsapp.com/send?phone=557930118080" target="_blank">

      </a>
      <!-- <a class="ball-to-icon">
        <i class="fa-brands fa-instagram"></i>
      </a>
      <a class="ball-to-icon">
        <i class="fa-brands fa-linkedin"></i>
      </a> -->
    </footer>
  </section>
  <section class="display-animation">
    <ng-lottie width="500px" containerClass="moving-box" [options]="options" />
  </section>
</main>
