<mat-dialog-content>

  @if(loading) {
    <div class="me-auto me-sm-0 mb-sm-0 mb-2 loading">
      <mat-spinner></mat-spinner>
    </div>
  }

  <div class="d-flex align-items-center justify-content-between">
    <span class="fw-bold fs-5">Limite de {{ _data?.user?.name}} - ID {{_data?.user?.id}}</span>
    <div matRipple class="close" (click)="onCancel()">
      <i class="fa-solid fa-close"></i>
    </div>
  </div>

  <mat-divider class="my-3"></mat-divider>

  <form [formGroup]="form" class="row">
    <div class="col-md-12 mb-3">
      <mat-form-field appearance="outline">
        <mat-label>Limite </mat-label>
        <input matInput type="text" formControlName="file_limit" mask="0*">
      </mat-form-field>
    </div>
  </form>

</mat-dialog-content>
<mat-dialog-actions>
  <div class="w-100 me-2">
    <div id="actionsDialog" class="flex-sm-row flex-column">
      <div id="buttonsDialog" class="flex-sm-row flex-column">
        <div class="col-auto">
          <button matRipple id="cancel" class="button cancel" (click)="onCancel()">Cancelar</button>
        </div>
        <div class="col-auto">
          <button matRipple id="submit" class="button primary" (click)="!loading ? onConfirm() : null">Salvar</button>
        </div>
      </div>
    </div>
  </div>
</mat-dialog-actions>
